﻿@model Assisment_2.Customer

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Add</title>
</head>
<body bgcolor="#4F4BF5">
		
		<link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css">
		<script src="~/Scripts/MyScript.js"></script>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
		<div id="Load">
			<p id="addHead">Add</p>
	@using (Html.BeginForm())
		{
		<table cellpadding="10px">
		<tr>
			<td>Enter Name:</td><td>@Html.TextBoxFor(m => m.Name ,new{ @placeholder="Name"} )</td>
			</tr>
			<tr>
				<td>Enter E-Mail:</td><td>@Html.TextBoxFor(m => m.Email,new{ @placeholder="Email"})</td>
			</tr>
			<tr>
				<td>Enter Age:</td><td>@Html.TextBoxFor(m => m.Age,new{@type="number",@placeholder="0-100"})</td>
			</tr>
			<tr>
				<td>Enter address:</td><td>@Html.TextAreaFor(m => m.Address,new{ @placeholder="Name"})</td>
			</tr>
			<tr>
				<td>Enter phno:</td><td>@Html.TextBoxFor(m => m.Phno,new{@type="number",@placeholder="10 digit"})</td>
			</tr>
			<tr>
			<td><input type = "button" class ="buttons1" id="val"  value="Validate"/>
						
				<input type = "submit"  class ="buttons1" id="add" value="Add"/></td>
			</tr>

			</table>
			}
		</div>

</body>
</html>

<script>
	
	$(document).ready(function (){
	
			$("#Load").fadeIn();
			$("#add").hide();

				
	
			$("#val").click(function (){
				
				if(Validating()=='1')
					{	
						$("#Name").prop("readonly", true);
						$("#Email").prop("readonly", true);
						$("#Age").prop("readonly", true);
						$("#Address").prop("readonly", true);
						$("#Phno").prop("readonly", true);
						$("#val").hide();
						$("#add").fadeIn();
					}
	});

});

</script>
