﻿@model Assisment_2.Customer


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Index</title>
</head>
<body>
		Deleted
		<table>
			<tr>
				<td>Name</td>
				<td>@Model.Name</td>
			</tr>
		</table>
	</body>
</html>>