﻿@model IEnumerable<Assisment_2.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
		<link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css">
		
    <title>Index</title>
</head>
<body bgcolor="#4F4BF5">
		
		<table cellpadding="10px">
			<tr>
				<td>Name</td>
				<td>age</td>
				<td>E-Mail</td>
				<td>phone</td>
				<td>Address</td>
				
			</tr>
			@foreach(Customer v in Model)
			{
			if(@v.Age!=0)
				{
			<tr>
				<td>@v.Name</td>
				<td>@v.Age</td>
				<td>@v.Email</td>					
				<td>@v.Phno</td>
				<td>@v.Address</td>
				<td><input type="button" class="Edit" id="@v.Id" value="Edit"/></td>
				<td><input type="button" class="Delete" id="@v.Id" value="Delete"/></td>

			</tr>

			}
			}
		</table>
		<div id="content"></div>

</body>
</html>


<script>
	$(document).ready(function () {
		
		$(".Edit").click(function(){
								
							var v= $(this).attr('id');

							var answer = confirm("Editing : "+v)
							if(answer)
							{
								$.ajax({
						
               						 type: "GET",
               						 url: '/Home/Edit',
           				  		   data: { "id": v },
             						 success: function (data) {
             			  		   $("#content").html("");
                					 $("#content").html(data);

									 $("#add").attr('value', 'Save');
                					 $("#add").click(function(){
										});
										
											
										
										
										
                					},
              						  error: function (xhr, ajaxOptions, thrownError) {
                 					   alert('Unexpected Error.');
									}
           					 });
							}
							
       			 });
		$(".Delete").click(function(){
							var v= $(this).attr('id');
							var answer = confirm("Delete "+v)
							if(answer){
							 $.ajax({
						
               						 type: "GET",
               						 url: '/Home/Delete',
           				  		   data: { "id": v },
             						 success: function (data) {
             			  		   $("#content").html("");
                					 $("#content").html(data);

                					},
              						  error: function (xhr, ajaxOptions, thrownError) {
									}
           					 });
							}
       			 });

	
			});
	
</script>


