﻿@model Assisment_2.Customer

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css">
		
		<script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Index</title>
</head>
<body bgcolor="#4F4BF5">
		<div id="head"><h1>Welcome</h1></div>
		
		<div class="divs">
			
			<table>
			
			<tr>
					<td>
						<div >
							<a href="Home/Add"><input type="button" class="asdf"  id="addButton"  value="Add"/></a>
						</div>
					</td>
			</tr>
			<tr>
				<td><div >
					<a href="Home/Details"><input type="button"  id="DetailButton" class="buton" value="Details"/></a>

						</div>
				</td>
			</tr>

			
			</table>

		</div>

		
</body>
</html>



