﻿input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
}
#Name ,#Address,#Email,#Phno,#Age{
	border: 3px double #black;
	width: 230px;
}
#Address {
   resize: none;
}
table{
	border: 3px solid #CCCCCC;
}
td{
border: 3px double #CCCCCC;
}
#head{
 	margin: auto;
    width: 60%;
    border: 3px solid #fa726f;
    padding: 10px;
    color: #EBEFBF;
    text-align: center;
}
.divs{
	margin-top: 15%;
	margin-Left:35%;
	width:10%;
  	gravity:center;
    float:left;
    border: 3px solid #fa726f;
    padding: 50px;
    color: #EBEFBF;

}
#addButton{
	border-radius: 2px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
}
#DetailButton
{
	border-radius: 2px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
}

.Edit{

   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.Edit:hover {
    background-color: #4CAF50;
    color: white;
}
.Delete{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
.Delete:hover {
    background-color: #f44336;
    color: white;
}
.buttons1{
background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.buttons1:hover {
    background-color: #4CAF50;
    color: white;
}
